#prof{
justify-content: center;
margin-right: 10%;
margin-left: 10%;
color: darkblue;
background-color: whitesmoke;
}
#proj{
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
    color: darkblue;
background-color: whitesmoke;
    }
    #about{
        justify-content: center;
        margin-right: 10%;
        margin-left: 10%;
        color: darkblue;
background-color: whitesmoke;
        }
.jumbotron {
    background-image: url("./images/incline.png");
    height: 300px;
    background-size: cover;
    margin-bottom: 0rem;
    color: navy;
    font-family: fantasy;
    background-color: whitesmoke;
  }
#tabs{
  justify-content: center;
margin-right: 10%;
margin-left: 10%;
color: darkblue;
background-color: whitesmoke;
}
